body{
    margin:0;
    padding:0;
    font-family: 'Playfair Display', serif;
}

.header{
    width: 100%;
    background: linear-gradient( rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(images/background2.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 100px;
}
.nav-links{
    flex:1;
    text-align: right;
}
.nav-links ul li{   /*menu*/
    list-style: none;
    display: inline-block; /*inline block=horizontal*/
    padding: 8px 12px; /*adds space*/
    position: relative;
}
.nav-links ul li a{  /*color scheme for menu*/
    color: #e08026 ;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
content: '';
width: 0%;
height: 2px;
background: #edafbc;
display: block;
margin: auto;
}
.nav-links ul li:hover::after{
    width: 100%;
}
ul li a:hover{
    color: rgb(232, 236, 217);
}

.text-box{
    width: 90%;
    color: #ffa754;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px; 
    color: #edafbc ;
}

.hero-btn{  /*button for link*/
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #edafbc;
    background: #ffa754;
transition: 1s;
}
 
@media(max-width: 500px){  /*responsiveness*/
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{   /*navbar menu*/
        
        display: block; 
    }
    .nav-links{   /*menu*/
        position: fixed; /*stops menu from scrolling to right*/
        background: #f1e1e5;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;  
    }
    nav.fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
}
.nav-links ul{
padding: 30px;
}

/*-----options*-----*/
.options{
    width: 80%;
    margin: auto;
text-align: center;
padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.options-column{
    flex-basis: 31%;
    background: #ffa754;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
@media(max-width:500px){ /*for the column boxes*/
    .row{
        flex-direction: column;
    }
}

/*-------- gallery ------*/

.gallery{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.gallery-column{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.gallery-column img{
    width: 100%;
    display: block;
}

/*----- contact us ----*/

.contact{
    margin: 100px auto;
    width: 80%;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
    background-color: #ffa754;
}
.hero-btn:hover{
    background: #edafbc;
transition: 1s;
}

@media(max-width:500px){
    .contact{
        font-size: 24px;
    }
}

/*----contact us for more-----*/

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;

}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;

}

.someicons .fa{
    color: #ffa754;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}


/*  Menu page sub-header*/
 
.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient( rgba(78, 75, 75, 0.7),rgba(78, 75, 75, 0.7)), url(images/background2.png);
background-position: center;
 background-size: cover;
 text-align: center;
  color: #e08026;
}

/*----------- Contact us page-------*/
.foodplate{
    width: 80%;
    margin: auto;
    padding: 80px 0;
}
.foodplate img{
    width: 100%;
}
.location{
    width: 80%;
    margin: auto;
    padding: 80px 0;
}
.location iframe{
    width: 100%;
    
}
.contact-us{
    width: 80%;
    margin: auto;

}
.contact-column{
    flex-basis: 48%;
    margin-bottom: 30px;
}
.contact-column div{
    display: flex; /*flex*/
    margin-bottom: 40px;
    align-items: center;
}
.contact-column div .fa{ /*for some icons*/
    font-size: 28px;
    color: #ffa754;
    margin: 10px;
    
}
.contact-column div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color: #ffa754;
    font-weight: 400;
}
.contact-column input, .contact-column textarea{
width: 100%;
padding: 15px;
margin-bottom: 17px;
outline: none;
border: 1px solid;
box-sizing: border-box;
}
 
/*---- a la carte menu page---*/
.menu{
    width: 80%;
    margin: auto;
    padding: 60px 0;
}
.menu-left{
    flex-basis: 65%;
}
.menu-left img{
    width: 100%;
}
.menu-left h2{
    color: #ffa754;
    font-weight: 600;
    margin: 30px 0;
}
@media(max-width:500px){
    .sub-header h1{
        font-size: 24px;
    }
}

/*---A la carte menu---*/
.table{
    width: 400px;
    box-align: center;
    margin-left: auto;
    margin-right: auto;
}
table th {
    text-align: left;
}
table, th, td {
    border: 1px solid #f5930a;
    border-collapse: collapse;
}
 th, td {
   padding: 10px;
}
caption{
    text-align: center;
    font-size: 24px;
    color: #f5930a;
}

@media(max-width:500px){
    table caption{
        display: none;
    }    
    td{
        display: block;
    }   
    td:first-child {
  
        color: #e08026;
        font-size: 24px;
    }   
}